<h1>Información de los cursos</h1>

 <table class="imagetable">
    <thead>
     
      <th>&nbsp;&nbsp;&nbsp;&nbsp;Información sobre curso </th>
    </thead>
   <tbody>
    <tr>
      <td> 
 
<p>

  A través de asociaciones público privadas (APPs) y con una inversión inicial de más de 1,627 millones de pesos para la conformación de tres consorcios,<br> México por primera vez enfoca su rumbo para aprovechar energías renovables y alcanzar la meta que se planteó para el 2030: que 35% de la energía que se consuma proceda de fuentes como el Sol, la Tierra o el viento.
</p>


          <div class="btn-group" data-toggle="buttons">
           <label class="btn btn-info">
              <input type="radio" name="options"> <%= link_to 'Descarga Información', download_doc_path %>
           </label>



 </td>
      
     </tbody>
  </table>